a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

.bulletless {
    list-style-type: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

*,
:after,
:before {
    box-sizing: inherit
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

dfn,
em,
i {
    font-style: italic
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

mark {
    background-color: #ffffef
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
    background-color: #2b2b2b
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit
}

button {
    overflow: visible;
    border: none
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}


input {
    line-height: normal
}

input:focus {
    outline: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td,
th {
    padding: 0
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body,
html {
    overflow-x: hidden
}

body {
    color: #ffffef;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: #3f3f3f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on
}

::-moz-selection {
    text-shadow: none;
    background: #9ce0e3
}

::selection {
    text-shadow: none;
    background: #9ce0e3
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 2.5em 0 3.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #dcdccc
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0
}

textarea {
    resize: vertical
}

blockquote,
dl,
ol,
p,
ul {
    margin: 0 0 1.5em
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: .5em 0 1em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li {
    margin: .5em 0;
    padding-left: .3em;
    line-height: 1.6em
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: #ffffef;
    font-weight: 500;
    text-align: right
}

dd {
    margin: 0 0 5px;
    text-align: left
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em;
    border-left: .5em solid #7cb8bb;
    background-color: #4f4f4f;
}

blockquote p {
    margin: .8em 0;
    font-size: 1.2em;
    font-weight: 300
}

blockquote small {
    display: inline-block;
    margin: .8em 0 .8em 1.5em;
    font-size: .9em;
    opacity: .8
}

blockquote small:before {
    content: "\2014 \00A0"
}

blockquote cite {
    font-weight: 700
}

blockquote cite a {
    font-weight: 400
}

a {
    color: #8cd0d3;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    color: #93e0e3
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: 700;
    text-rendering: optimizeLegibility
}

h1 {
    margin: 0 0 .5em;
    font-size: 5rem;
    font-weight: 700
}

@media (max-width:500px) {
    h1 {
        font-size: 2.2rem
    }
}

h2 {
    margin: 1.5em 0 .5em;
    font-size: 2rem
}

@media (max-width:500px) {
    h2 {
        font-size: 1.8rem
    }
}

h3 {
    margin: 1.5em 0 .5em;
    font-size: 1.8rem;
    font-weight: 500
}

@media (max-width:500px) {
    h3 {
        font-size: 1.7rem
    }
}

h4 {
    margin: 1.5em 0 .5em;
    font-size: 1.6rem;
    font-weight: 500
}

h5,
h6 {
    margin: 1.5em 0 .5em;
    font-size: 1.4rem;
    font-weight: 500
}

body {
    background: #2b2b2b;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    border-radius: 100%
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px
}

.site-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

.site-main {
    z-index: 100;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.outer {
    position: relative;
    padding: 0 4vw
}

.inner {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%
}

@media (min-width:900px) {
    .author-template .post-feed,
    .home-template .post-feed,
    .tag-template .post-feed {
        margin-top: -70px;
        padding-top: 0
    }
    .home-template .site-nav {
        position: relative;
        top: -70px
    }
}

.site-header {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #ffffef;
    background: #1b1b1b no-repeat 50%;
    background-size: cover
}

.site-header:before {
    bottom: 0;
    background: rgba(0, 0, 0, .18)
}

.site-header:after,
.site-header:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: block
}

.site-header:after {
    bottom: auto;
    height: 80px;
    background: linear-gradient(rgba(0, 0, 0, .1), transparent)
}

.site-header.no-cover:after,
.site-header.no-cover:before {
    display: none
}

.site-header-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10vw 4vw;
    min-height: 200px;
    max-height: 450px;
    text-align: center
}

.site-title {
    z-index: 10;
    margin: 0;
    padding: 0;
    font-size: 3.8rem;
    font-weight: 700
}

.site-logo {
    max-height: 45px
}

.site-description {
    z-index: 10;
    margin: 5px;
    padding: 5px 0;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: .5px;
    opacity: .8;
    background-color: rgba(0, 0, 0, 0)
}

@media (max-width:500px) {
    .site-title {
        font-size: 3rem
    }
    .site-description {
        font-size: 1.8rem
    }
}

.site-nav {
    position: relative;
    z-index: 300;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
}

.site-nav,
.site-nav-left {
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden
}

.site-nav-left {
    -ms-flex-align: center;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-right: 10px;
    padding-bottom: 80px;
    letter-spacing: .4px;
    white-space: nowrap;
    -ms-overflow-scrolling: touch
}

.site-nav-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: block;
    margin-right: 24px;
    padding: 11px 0;
    color: #dcdccc;
    font-size: 1.7rem;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -.5px
}

.site-nav-logo:hover {
    text-decoration: none
}

.site-nav-logo img {
    display: block;
    width: auto;
    height: 21px
}

.nav {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none
}

.nav li {
    padding: 0;
    text-transform: uppercase
}

.nav li,
.nav li a {
    display: block;
    margin: 0
}

.nav li a {
    padding: 10px 12px;
    color: #dcdccc;
    opacity: .8
}

.nav li a:hover {
    text-decoration: none;
    opacity: 1
}

.site-nav-right {
    height: 40px
}

.site-nav-right,
.social-links {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.social-links a:last-of-type {
    padding-right: 20px
}

.social-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    color: #dcdccc;
    opacity: .8
}

.social-link:hover {
    opacity: 1
}

.social-link svg {
    height: 1.8rem;
    fill: #ffffef
}

.social-link-fb svg {
    height: 1.5rem
}

.social-link-wb svg {
    height: 1.6rem
}

.social-link-wb svg path {
    stroke: #ffffef
}

.social-link-rss svg {
    height: 1.9rem
}

.subscribe-button {
    display: block;
    padding: 4px 10px;
    border: 1px solid #ffffef;
    color: #dcdcc;
    font-size: 1.2rem;
    line-height: 1em;
    border-radius: 10px;
    opacity: .8
}

.subscribe-button:hover {
    text-decoration: none;
    opacity: 1
}

.rss-button {
    opacity: .8
}

.rss-button:hover {
    opacity: 1
}

.rss-button svg {
    margin-bottom: 1px;
    height: 2.1rem;
    fill: #ffffef
}

@media (max-width:700px) {
    .site-header {
        padding-right: 0;
        padding-left: 0
    }
    .site-nav-left {
        margin-right: 0;
        padding-left: 4vw
    }
    .site-nav-right {
        display: none
    }
}

.post-feed {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0 0
}

.post-card,
.post-feed {
    display: -ms-flexbox;
    display: flex
}

.post-card {
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 40px;
    min-height: 300px;
    background: #3f3f3f 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(0, 0, 0, .10), 1px 3px 8px rgba(0, 0, 0, .05);
    transition: all .5s ease
}

.post-card:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, .15), 0 3px 16px rgba(0, 0, 0, .12);
}

.post-card-image-link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0
}

.post-card-image {
    width: auto;
    height: 200px;
    background: #c5d2d9 no-repeat 50%;
    background-size: cover
}

.post-card-content-link {
    position: relative;
    display: block;
    padding: 25px 25px 0;
    color: #ffffef
}

.post-card-content-link:hover {
    text-decoration: none;
    color: #ffffef;
}

.post-card-tags {
    display: block;
    margin-bottom: 4px;
    font-size: 1.2rem;
    line-height: 1.15em;
    font-weight: 500;
    color: #9fc59f;
    letter-spacing: .5px;
    text-transform: uppercase
}

.post-card-tags a{
    color: #9fc59f;
}

.post-card-title {
    margin-top: 0
}

.post-card-content {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.post-card-excerpt {
    font-family: Georgia, serif
}

.post-card-meta {
    padding: 0 25px 25px
}

.author-profile-image {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover
}

.post-card-category {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    background-color: #4f4f4f;
    padding:0rem 1.3rem 0rem 1.3rem;
}

.post-card-category a {
    color: #dcdccc;
}
.post-card-author {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase
}

@media (min-width:795px) {
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        border-radius: 5px 0 0 5px
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image {
        position: absolute;
        width: 100%;
        height: 100%
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content {
        -ms-flex: 0 1 357px;
        flex: 0 1 357px
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) h2 {
        font-size: 2.6rem
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) p {
        font-size: 1.8rem;
        line-height: 1.55em
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content-link {
        padding: 30px 40px 0
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-meta {
        padding: 0 40px 30px
    }
}

.home-template .site-header:after {
    display: none
}

@media (max-width:650px) {
    .post-feed {
        padding-top: 5vw
    }
    .post-card {
        margin: 0 20px 5vw
    }
}

.page-template .site-main,
.post-template .site-main {
    padding-bottom: 4vw;
    background: #3f3f3f
}

.post-full {
    position: relative;
    z-index: 50
}

.post-full-header {
    margin: 0 auto;
    padding: 6vw 3vw 3vw;
    max-width: 1040px;
    text-align: center
}

@media (max-width:500px) {
    .post-full-header {
        padding: 14vw 3vw 10vw
    }
}

.post-full-meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #9fc59f;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase
}

.post-full-meta-date {
    color: #94bff3
}

.post-full-title {
    margin: 0;
    color: #dcdccc
}

.date-divider {
    display: inline-block;
    margin: 0 6px 1px
}

.post-full-image {
    margin: 0 -10vw -165px;
    height: 800px;
    background: #c5d2d9 50%;
    background-size: cover;
    border-radius: 5px
}

@media (max-width:1170px) {
    .post-full-image {
        margin: 0 -4vw -100px;
        height: 600px;
        border-radius: 0
    }
}

@media (max-width:800px) {
    .post-full-image {
        height: 400px
    }
}

.post-full-content {
    position: relative;
    margin: 0 auto;
    padding: 70px 100px 0;
    min-height: 230px;
    font-family: Georgia, serif;
    font-size: 2.2rem;
    line-height: 1.6em;
    background: #3f3f3f
}

@media (max-width:1170px) {
    .post-full-content {
        padding: 5vw 7vw 0
    }
}

@media (max-width:800px) {
    .post-full-content {
        font-size: 1.9rem
    }
}

.post-full-content:before {
    left: -5px;
    transform: rotate(-5deg)
}

.post-full-content:after,
.post-full-content:before {
    content: "";
    position: absolute;
    top: 15px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 200px;
    background: rgba(39, 44, 49, .15);
    filter: blur(5px)
}

.post-full-content:after {
    right: -5px;
    transform: rotate(5deg)
}

.no-image .post-full-content {
    padding-top: 0
}

.no-image .post-full-content:after,
.no-image .post-full-content:before {
    display: none
}

.kg-card-markdown {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    max-width: 920px
}

.footnotes,
.post-full-comments,
.post-full-content blockquote,
.post-full-content dl,
.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6,
.post-full-content ol,
.post-full-content p,
.post-full-content pre,
.post-full-content ul {
    min-width: 100%
}

.post-full-content li {
    word-break: break-word
}

.post-full-content li p {
    margin: 0
}

.post-template .kg-card-markdown>p:first-child {
    font-size: 1.25em;
    line-height: 1.5em
}

.post-full-content a {
    color: #000;
    box-shadow: inset 0 -1px 0 #8cd0d3
}

.post-full-content a:hover {
    color: #93e0e3;
    text-decoration: none
}

.post-full-content em,
.post-full-content strong {
    color: #dcdccc
}

.post-full-content small {
    display: inline-block;
    line-height: 1.6em
}

.post-full-content li:first-child {
    margin-top: 0
}

.post-full-content img,
.post-full-content video {
    display: block;
    margin: 1.5em auto;
    max-width: 1040px
}

@media (max-width:1040px) {
    .post-full-content img,
    .post-full-content video {
        width: 100%
    }
}

.post-full-content img[src$="#full"] {
    max-width: none;
    width: 100vw
}

.post-full-content img+br+small {
    display: block;
    margin-top: -3em;
    margin-bottom: 1.5em
}

.post-full-content iframe {
    margin: 0 auto
}

.post-full-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid #8cd0d3
}

.post-full-content blockquote p {
    margin: 0 0 1em;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic
}

.post-full-content blockquote p:last-child {
    margin-bottom: 0
}

.post-full-content code {
    padding: 0 5px 2px;
    font-size: .8em;
    line-height: 1em;
    font-weight: 400!important;
    background: #dcdccc;
    border-radius: 3px
}

.post-full-content pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    border: 1px solid #000;
    color: #dcdccc;
    font-size: 1.4rem;
    line-height: 1.5em;
    background: #2b2b2b;
    border-radius: 5px
}

.post-full-content pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent
}

.post-full-content pre code * {
    color: inherit
}

.post-full-content .fluid-width-video-wrapper {
    margin: 1.5em 0 3em
}

.post-full-content hr {
    margin: 4vw 0
}

.post-full-content hr:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    display: block;
    margin-left: -10px;
    width: 1px;
    height: 30px;
    background: #dcdccc;
    box-shadow: 0 0 0 5px #fff;
    transform: rotate(45deg)
}

.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
    color: #dcdccc;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
}

.post-full-content h1 {
    margin: .5em 0 .2em;
    font-size: 4.6rem;
    font-weight: 700
}

@media (max-width:500px) {
    .post-full-content h1 {
        font-size: 2.8rem
    }
}

.post-full-content h2 {
    margin: .5em 0 .2em;
    font-size: 3.6rem;
    font-weight: 700
}

@media (max-width:500px) {
    .post-full-content h2 {
        font-size: 2.6rem
    }
}

.post-full-content h3 {
    margin: .5em 0 .2em;
    font-size: 2.8rem;
    font-weight: 700
}

@media (max-width:500px) {
    .post-full-content h3 {
        font-size: 2.2rem
    }
}

.post-full-content h4 {
    margin: .5em 0 .2em;
    font-size: 2.8rem;
    font-weight: 700
}

@media (max-width:500px) {
    .post-full-content h4 {
        font-size: 2.2rem
    }
}

.post-full-content h5 {
    display: block;
    margin: .5em 0;
    padding: 1em 0 1.5em;
    border: 0;
    color: #8cd0d3;
    font-family: Georgia, serif;
    font-size: 3.2rem;
    line-height: 1.35em;
    text-align: center
}

@media (min-width:1180px) {
    .post-full-content h5 {
        max-width: 1060px;
        width: 100vw
    }
}

@media (max-width:500px) {
    .post-full-content h5 {
        padding: 0 0 .5em;
        font-size: 2.2rem
    }
}

.post-full-content h6 {
    margin: .5em 0 .2em;
    font-size: 2.3rem;
    font-weight: 700
}

@media (max-width:500px) {
    .post-full-content h6 {
        font-size: 2rem
    }
}

.footnotes-sep {
    margin-bottom: 30px
}

.footnote-ref:before {
    color: #9fc59f;
    content: '[';
}

.footnote-ref:after {
    color: #9fc59f;
    content: ']';
}

.footnotes {
    font-size: 1.5rem
}

.footnotes p {
    margin: 0
}

.footnote-backref {
    color: #8cd0d3!important;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none!important;
    box-shadow: none!important
}

@media (max-width:500px) {
    .post-full-meta {
        font-size: 1.2rem;
        line-height: 1.3em
    }
    .post-full-title {
        font-size: 2.9rem
    }
    .post-full-image {
        margin-bottom: 4vw;
        height: 350px
    }
    .post-full-content {
        padding: 0
    }
    .post-full-content:after,
    .post-full-content:before {
        display: none
    }
}

.post-full-content table {
    display: inline-block;
    overflow-x: auto;
    margin: .5em 0 2.5em;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    white-space: nowrap;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, .2) 0, transparent 75%) 0, radial-gradient(ellipse at right, rgba(0, 0, 0, .2) 0, transparent 75%) 100%;
    background-attachment: scroll, scroll;
    background-size: 10px 100%, 10px 100%;
    background-repeat: no-repeat
}

.post-full-content table td:first-child {
    background-image: linear-gradient(90deg, #3f3f3f 50%, hsla(0, 0%, 100%, 0));
    background-size: 20px 100%;
    background-repeat: no-repeat
}

.post-full-content table td:last-child {
    background-image: linear-gradient(270deg, #3f3f3f 50%, hsla(0, 0%, 100%, 0));
    background-position: 100% 0;
    background-size: 20px 100%;
    background-repeat: no-repeat
}

.post-full-content table th {
    color: #f7f7e7;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .2px;
    text-align: left;
    text-transform: uppercase;
    background-color: #1b1b1b;
}

.post-full-content table td,
.post-full-content table th {
    padding: 6px 12px;
    border: 1px solid #e3ecf3
}

.subscribe-form {
    margin: 1.5em 0;
    padding: 6.5vw 7vw 7vw;
    border: 1px solid #edf4f8;
    text-align: center;
    background: #1b1b1b;
    border-radius: 7px
}

.subscribe-form-title {
    margin: 0 0 3px;
    padding: 0;
    color: #f7f7e7;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700
}

.subscribe-form p {
    margin-bottom: 1em;
    color: #738a94;
    font-size: 2.2rem;
    line-height: 1.55em;
    letter-spacing: .2px
}

.subscribe-form form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 420px
}

.subscribe-form .form-group {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.subscribe-email {
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid #dae2e7;
    color: #738a94;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: 400;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border-radius: 5px;
    transition: border-color .15s linear;
    -webkit-appearance: none
}

.subscribe-form button {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 20px;
    height: 41px;
    outline: none;
    color: #dcdccc;
    font-size: 1.5rem;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
    background: linear-gradient(#4fb7f0, #29a0e0 60%, #29a0e0 90%, #36a6e2);
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .14);
    -webkit-font-smoothing: subpixel-antialiased
}

.subscribe-form button:active,
.subscribe-form button:focus {
    background: #7cb8bb
}

@media (max-width:650px) {
    .subscribe-form-title {
        font-size: 2.4rem
    }
    .subscribe-form p {
        font-size: 1.6rem
    }
}

@media (max-width:500px) {
    .subscribe-form form {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .subscribe-form .form-group {
        width: 100%
    }
    .subscribe-form button {
        margin: 10px 0 0;
        width: 100%
    }
}

.post-full-footer {
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3vw 0 6vw;
    max-width: 840px
}

.author-card,
.post-full-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.author-card .author-profile-image {
    margin-right: 15px;
    width: 60px;
    height: 60px
}

.author-card-name {
    margin: 0 0 2px;
    padding: 0;
    font-size: 2rem
}

.author-card-name a {
    color: #ffffef;
    font-weight: 700
}

.author-card-name a:hover {
    text-decoration: none
}

.author-card-content p {
    margin: 0;
    color: #9fc59f;
    line-height: 1.3em
}

.post-full-footer-right {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 20px
}

.author-card-button {
    display: block;
    padding: 9px 16px;
    border: 1px solid #8fb58f;
    color: #9fc59f;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    border-radius: 20px;
    transition: all .2s ease
}

.author-card-button:hover {
    border-color: #8cd0d3;
    color: #8cd0d3;
    text-decoration: none
}

.post-full-comments {
    margin: 0 auto;
    max-width: 840px
}

.read-next-feed {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0 0
}

.read-next-card,
.read-next-feed {
    display: -ms-flexbox;
    display: flex
}

.read-next-card {
    position: relative;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 40px;
    padding: 25px;
    color: #dcdccc;
    background: #ffffef 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03)
}

.read-next-card:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(135deg, rgba(0, 40, 60, .8), rgba(0, 20, 40, .7));
    border-radius: 5px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px)
}

.read-next-card-header {
    position: relative;
    z-index: 50;
    padding-top: 20px;
    text-align: center
}

.read-next-card-header-sitetitle {
    display: block;
    font-size: 1.3rem;
    line-height: 1.3em;
    opacity: .8
}

.read-next-card-header-title {
    margin: 0;
    padding: 0 20px;
    color: #dcdccc;
    font-size: 3rem;
    line-height: 1.2em;
    letter-spacing: 1px
}

.read-next-card-header-title a {
    color: #dcdccc;
    font-weight: 300;
    text-decoration: none
}

.read-next-card-header-title a:hover {
    text-decoration: none
}

.read-next-divider {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80px
}

.read-next-divider svg {
    width: 40px;
    fill: transparent;
    stroke: #ffffef;
    stroke-width: .5px;
    stroke-opacity: .65
}

.read-next-card-content {
    position: relative;
    z-index: 50;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.7rem
}

.read-next-card-content ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none
}

.read-next-card-content li {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.25em;
    font-weight: 200;
    letter-spacing: -.5px
}

.read-next-card-content li a {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, .3);
    color: #dcdccc;
    font-weight: 500;
    vertical-align: top;
    transition: opacity .3s ease
}

.read-next-card-content li:first-of-type a {
    padding-top: 10px
}

.read-next-card-content li a:hover {
    opacity: 1
}

.read-next-card-footer {
    position: relative;
    margin: 15px 0 3px;
    text-align: center
}

.read-next-card-footer a {
    color: #dcdccc
}

.floating-header {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    background: hsla(0, 0%, 100%, .95);
    transition: all .5s cubic-bezier(.19, 1, .22, 1);
    transform: translate3d(0, -120%, 0)
}

.floating-active {
    visibility: visible;
    transition: all .5s cubic-bezier(.22, 1, .27, 1);
    transform: translateZ(0)
}

.floating-header-logo {
    overflow: hidden;
    margin: 0 0 0 20px;
    font-size: 1.6rem;
    line-height: 1em;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.floating-header-logo a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffef;
    line-height: 1.1em;
    font-weight: 700
}

.floating-header-logo a:hover {
    text-decoration: none
}

.floating-header-logo img {
    margin: 0 10px 0 0;
    max-height: 20px
}

.floating-header-divider {
    margin: 0 5px;
    line-height: 1em
}

.floating-header-title {
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    margin: 0;
    color: #2b2b2b;
    font-size: 1.6rem;
    line-height: 1.3em;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap
}

.floating-header-share {
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 2%;
    font-size: 1.3rem;
    line-height: 1
}

.floating-header-share,
.floating-header-share a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.floating-header-share a {
    -ms-flex-pack: center;
    justify-content: center
}

.floating-header-share svg {
    width: auto;
    height: 16px;
    fill: #ffffef
}

.floating-header-share-label {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    color: rgba(0, 0, 0, .7);
    font-weight: 500
}

.floating-header-share-label svg {
    margin: 0 5px 0 10px;
    width: 18px;
    height: 18px;
    stroke: rgba(0, 0, 0, .7);
    transform: rotate(90deg)
}

.floating-header-share-fb,
.floating-header-share-tw {
    display: block;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #dcdccc;
    line-height: 48px;
    text-align: center;
    transition: all .5s cubic-bezier(.19, 1, .22, 1)
}

.floating-header-share-tw {
    background: #7cb8bb
}

.floating-header-share-fb {
    background: #005e99
}

.progress {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    color: #8cd0d3;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.progress::-webkit-progress-bar {
    background-color: transparent
}

.progress::-webkit-progress-value {
    background-color: #8cd0d3
}

.progress::-moz-progress-bar {
    background-color: #8cd0d3
}

.progress-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent
}

.progress-bar {
    display: block;
    width: 50%;
    height: inherit;
    background-color: #8cd0d3
}

@media (max-width:900px) {
    .floating-header {
        height: 40px
    }
    .floating-header-logo,
    .floating-header-title {
        font-size: 1.5rem
    }
    .floating-header-share-fb,
    .floating-header-share-tw {
        width: 40px;
        height: 40px;
        line-height: 38px
    }
}

@media (max-width:800px) {
    .floating-header-logo {
        margin-left: 10px
    }
    .floating-header-logo a {
        color: #2e2e2e
    }
    .floating-header-divider,
    .floating-header-title {
        visibility: hidden
    }
}

@media (max-width:450px) {
    .floating-header-share-label {
        display: none
    }
}

.site-header-content .author-profile-image {
    z-index: 10;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 0 20px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 6px hsla(0, 0%, 100%, .1)
}

.site-header-content .author-bio {
    z-index: 10;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 5px 0 10px;
    max-width: 600px;
    font-size: 2rem;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: .5px;
    opacity: .8
}

.site-header-content .author-meta {
    z-index: 10;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px;
    font-family: Georgia, serif;
    font-style: italic
}

.site-header-content .author-location svg {
    height: 1.9rem;
    stroke: #ffffef
}

.site-header-content .bull {
    display: inline-block;
    margin: 0 12px;
    opacity: .5
}

.site-header-content .social-link:first-of-type {
    padding-left: 4px
}

@media (max-width:500px) {
    .site-header-content .author-bio {
        font-size: 1.8rem;
        line-height: 1.15em;
        letter-spacing: 0
    }
    .author-location,
    .author-stats {
        display: none
    }
}

.error-template .site-main {
    padding: 7vw 4vw
}

.site-nav-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.site-nav-center .site-nav-logo {
    margin-right: 0
}

.error-message {
    text-align: center
}

.error-code {
    margin: 0;
    font-size: 12vw;
    line-height: 1em;
    letter-spacing: -5px;
    opacity: .3
}

.error-description {
    margin: 0;
    color: #dc8cc3;
    font-size: 3rem;
    line-height: 1.3em;
    font-weight: 400
}

@media (max-width:800px) {
    .error-description {
        margin: 5px 0 0;
        font-size: 1.8rem
    }
}

.error-link {
    display: inline-block;
    margin-top: 5px
}

.error-template .post-feed {
    padding-top: 0
}

.subscribe-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 25, 40, .97);
    opacity: 0;
    transition: opacity .2s ease-in;
    pointer-events: none;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px)
}

.subscribe-overlay:target {
    opacity: 1;
    pointer-events: auto
}

.subscribe-overlay-content {
    position: relative;
    z-index: 9999;
    margin: 0 0 5vw;
    padding: 4vw;
    color: #dcdccc;
    text-align: center
}

.subscribe-overlay-logo {
    position: fixed;
    top: 23px;
    left: 30px;
    height: 30px
}

.subscribe-overlay-title {
    display: inline-block;
    margin: 0 0 10px;
    font-size: 6rem;
    line-height: 1.15em
}

.subscribe-overlay-description {
    margin: 0 auto 50px;
    max-width: 650px;
    font-family: Georgia, serif;
    font-size: 3rem;
    line-height: 1.3em;
    font-weight: 300;
    opacity: .8
}

.subscribe-overlay form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px
}

.subscribe-overlay .form-group {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.subscribe-overlay .subscribe-email {
    display: block;
    padding: 14px 20px;
    width: 100%;
    border: none;
    color: #738a94;
    font-size: 2rem;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: .5px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border-radius: 8px;
    transition: border-color .15s linear;
    -webkit-appearance: none
}

.subscribe-email:focus {
    outline: 0;
    border-color: #dcdccc
}

.subscribe-overlay button {
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 0 25px;
    height: 52px;
    outline: none;
    color: #dcdccc;
    font-size: 1.7rem;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
    background: linear-gradient(#4fb7f0, #29a0e0 60%, #29a0e0 90%, #36a6e2);
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .14);
    -webkit-font-smoothing: subpixel-antialiased
}

.subscribe-overlay button:active,
.subscribe-overlay button:focus {
    background: #8cd0d3
}

.subscribe-overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block
}

.subscribe-overlay-close:before {
    transform: rotate(45deg)
}

.subscribe-overlay-close:after,
.subscribe-overlay-close:before {
    content: "";
    position: absolute;
    top: 40px;
    right: 25px;
    display: block;
    width: 30px;
    height: 2px;
    background: #3f3f3f;
    opacity: .8
}

.subscribe-overlay-close:after {
    transform: rotate(-45deg)
}

.subscribe-overlay-close:hover {
    cursor: default
}

.site-footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #dcdccc;
    background: #000
}

.site-footer-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem
}

.site-footer-content,
.site-footer-content a {
    color: hsla(0, 0%, 100%, .7)
}

.site-footer-content a:hover {
    color: #dcdccc;
    text-decoration: none
}

.site-footer-nav {
    display: -ms-flexbox;
    display: flex
}

.site-footer-nav a {
    position: relative;
    margin-left: 20px
}

.site-footer-nav a:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -11px;
    display: block;
    width: 2px;
    height: 2px;
    background: #3f3f3f;
    border-radius: 100%
}

.site-footer-nav a:first-of-type:before {
    display: none
}

@media (max-width:650px) {
    .site-footer-content {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .site-footer-nav a:first-child {
        margin-left: 0
    }
}


/*# sourceMappingURL=screen.css.map */
