{{ $paginator := .Paginate (where .Data.Pages.ByWeight "Type" "about") }}
{{ range $paginator.Pages }}

<article class="post-card post">
    {{if .Params.image}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
    </a>
    {{else}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
      <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
    </a>
    {{end}}

    <div class="post-card-content">
      <a class="post-card-content-link" href="{{ .Permalink }}">
          <header class="post-card-header">
            {{if .Params.tags }}<span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
              #{{$tag}} {{end}} </span>
              {{ end }}
              <h2 class="post-card-title">{{.Title}}</h2>
          </header>
          <section class="post-card-excerpt">
              {{ if .Description }}
                <p>{{ .Description | markdownify }}</p>
              {{else}}
                <p>{{ .Summary | plainify }}{{ if .Truncated }} ... {{end}} </p>
              {{end}}
          </section>
      </a>

      <footer class="post-card-meta">
          {{if .Params.categories }}<span class="post-card-category">{{ range $index, $tag := .Params.categories }}
          <a href = "/categories/{{lower $tag}}">{{$tag}}</a> {{end}} </span>
          {{ end }}
      </footer>
    </div>
</article>
{{ end }}
